<!--
    EJS is a client-side templating language that was originally part of JavaScriptMVC, which has now been replaced by DoneJS.
-->

<!DOCTYPE html>
<html>
    <head>
        <style>
            body{
                background: skyblue; 
                font-family: Verdana; 
                color: #ffffff;
                padding: 30px;
            }
            h1{
                font-size: 48px;
                text-transform: uppercase;
                letter-spacing: 2px;
                text-align: center;
            }
            p{
                font-size: 16px;
                text-align: left;
            }
        </style>
    </head>
    <body>
        <h1>Here we use HTML, CSS, and Node.JS. I love Node.js</h1>
        <h2>Welcome to the profile of Details</h2>
        <h2>Md. <%= person %></h2>
        <p><strong>Age: </strong><%= data.age %></p>
        <p><strong>Job: </strong><%= data.job %></p>
        <p><strong>Country: </strong><%= data.country %></p>
    </body>
</html>