<!DOCTYPE html>
<html>
    <head>
        <style>
            body{
                background: skyblue; 
                font-family: Verdana; 
                color: #ffffff;
                padding: 30px;
            }
            h1{
                font-size: 48px;
                text-transform: uppercase;
                letter-spacing: 2px;
                text-align: center;
            }
            p{
                font-size: 16px;
                text-align: center;
            }
        </style>
    </head>
    <body>
        <% include partials/nav.ejs %>
        <h1>Welcome to my first HTML CSS WebSite</h1>
        <p>Here we use HTML, CSS, and Node.JS. I love Node.js</p>
    </body>
</html>