<!DOCTYPE html>
<html>
    <head>
        <link href="/assets/styles.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <% include partials/nav.ejs %>
        <h1>Summit success!!!</h1>
        <h3>Thanks for stay with us</h3>

        /*
        Remember data contain value from form.
        we get value from data.(frome_namefield_name)
        */
        <p>You Contacted: <%= data.who %></p>
        <p>Email: <%= data.email %></p>
        <p>Department: <%= data.department %></p>
    </body>
</html>