<!DOCTYPE html>
<html>
    <head>
        <link href="/assets/styles.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <% include partials/nav.ejs %>
        <h1>Welcome to my first HTML CSS WebSite</h1>
        <p>Here we use HTML, CSS, and Node.JS. I love Node.js</p>
    </body>
</html>